{% extends 'base.html.twig' %}
{% block body %}
    <div class="fragment white new-order-confirmation">
        <div class="page-wrapper">
            <div class="row">
                <div class="column column-s-100 column-m-70 column-60">
                    {%  set cost = (data.relatedProductCategory.sellPrice * data.orderedAmount) %}
                    {%  set discount = ((cost * data.relatedBulkDiscount) / 100) %}
                    {%  set totalCost = (cost - discount - (cost*tierDiscount/100)) %}
                    {%  set vat = (totalCost * 0.19) %}
                    {%  set total = vat + totalCost %}
                    <h5>{% trans %}Bitte bestätigen Sie Ihre Bestellung{% endtrans %} </h5><br/>
                    <b>{% trans %}Comment{% endtrans %}: </b> {{ data.relatedOrder.comment }}<br/>
                    <b>{% trans %}Shipping address{% endtrans %}: </b> <p align="left">{{ data.relatedOrder.customerShippingAddress|nl2br }}</p><br/>
                    <b>{% trans %}Billing address{% endtrans %}: </b> <p align="left">{{ data.relatedOrder.customerBillingAddress|nl2br }}</p><br/>
                    <b>{% trans %}Product Name{% endtrans %}:</b> {{ data.relatedProductCategory.name }}<br/>
                    <b>{% trans %}Target Time{% endtrans %}:    </b>   {{ data.relatedOrder.targetTime|date }}    <hr/>
                    <b>{% trans %}Amount Ordered{% endtrans %}:</b> {{ data.orderedAmount }}MBq<br/>
                    <b>{% trans %}Unit Price{% endtrans %}: </b> {{ data.relatedProductCategory.sellPrice|number_format(2, ',', '.') }}€ / MBq<br/>
                    <b>{% trans %}Cost{% endtrans %}: </b> {{ cost|number_format(2, ',', '.') }} €<br/>
                    <b>{% trans %}Discount {% endtrans %} {{ data.relatedBulkDiscount|number_format(2, ',', '.') }}%: </b> {{ discount|number_format(2, ',', '.') }} €<br/>
                    <b>{% trans %}Tier Pricing Discount {% endtrans %} {{ tierDiscount|number_format(2, ',', '.') }}%: </b> {{ (cost*tierDiscount/100)|number_format(2, ',', '.') }} €<hr/>
                    <b>{% trans %}TOTAL NET COST{% endtrans %}: </b> {{ totalCost|number_format(2, ',', '.') }}€<br/>
                    <b>{% trans %}Incl. VAT 19%{% endtrans %}: </b> {{ vat|number_format(2, ',', '.') }}€<hr/>
                    <b>{% trans %}TOTAL incl. VAT{% endtrans %}: </b> {{ total|number_format(2, ',', '.') }}€<br/>
                    {% for data in data %}
                        {{ data}}
                    {% endfor %}
                    <hr/>
                    <b> {% trans %}Legal Disclaimer{% endtrans %}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="fragment form-buttons">
        <div class="column center column-100">
            {{ form_start(form) }}
            {{ form_widget(form.Submit,  { 'label': 'Submit'|trans }) }}
            {{ form_widget(form.Change,  { 'label': 'Change'|trans }) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
