{% block content %}
    <div class="fragment image-with-text" style="background-image:url('{{ fullWidthSeparator.0 }}')">
        <div class="page-wrapper">
            <div class="content highlight-text">
                <h2>{{ headline }}</h2>
                <p>{{ text }}</p>
                <p><a href="#" class="button">Mehr informationen</a></p>
            </div>
        </div>
    </div>

    <div class="fragment image-with-text" style="background-image:url('{{ fullWidthSeparator.1 }}')">
        <div class="page-wrapper">
            <div class="content">
                <h2>{{ headline }}</h2>
                <p>{{ text }}</p>
                <p><a href="#" class="button">Mehr informationen</a></p>
            </div>
        </div>
    </div>

    <div class="fragment image-with-text" style="background-image:url('{{ fullWidthSeparator.2 }}')">
        <div class="page-wrapper">
            <div class="content">
                <h2>{{ headline }}</h2>
                <p>{{ text }}</p>
                <p><a href="#" class="button">Mehr informationen</a></p>
            </div>
        </div>
    </div>

{% endblock %}