<div class="address-delivery-new-add-form">
    <div class="row">
        {#<div class="lightbox form-title title-edit-shipping-address">#}
        {#<span>Lieferaddresse bearbeiten</span>#}
        {#</div>#}
        {#<div class="lightbox form-title title-edit-billing-address">#}
        {#<span>Rechnungsadresse bearbeiten</span>#}
        {#</div>#}
        {{ form_start(form,{'attr': {'id': 'papito_' ~ type, 'action':path('address_new', {'slug':type})}} ) }}
        {{ form_row(form) }}
        <button type="submit" value="Send" onclick="form_submit_new_address_{{ type }}()"> {% trans %}Submit Changes{% endtrans %} </button>
        {{ form_end(form) }}
        <a href="{{ path('user_setting') }}">{% trans %}Cancel{% endtrans %}</a>
    </div>
    <script>
        function form_submit_new_address_{{ type }}() {
            document.getElementById("papito_{{ type }}").submit();
        }
    </script>
</div>
