{% extends 'base-email.html.twig' %}

{% block subject %}{% trans %}Resetting your password{% endtrans %}{% endblock %}
{% block body_text %}
    {% autoescape false %}
        {% trans %}Hello{% endtrans %} {{ user.username }} !

        {% trans %}You can reset your password by accessing{% endtrans %} {{ confirmationUrl }}

        {% trans %}Greetings{% endtrans %},
        {% trans %}the Radiopharma24 team{% endtrans %}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
        <div class="email-wrapper">
        {% autoescape false %}
        <div class="e-mail-logo-stripe">
            <div class="e-mail-logo">
                <img src="http://dev.radiopharma24.de/images/R24-white-logo.png">
            </div>
        </div>
                <span class="e-mail-subject line-initial">{% trans %}Resetting your password{% endtrans %}</span>
                <span class="e-mail-title line-jump">{% trans %}Hello{% endtrans %} {{ user.username }}</span>
                <span class="e-mail-intro line-jump">{% trans %}You can reset your password by accessing{% endtrans %} URL <a href="{{ confirmationUrl }}">{% trans %}Resetting{% endtrans %}</a></span>

                <span class="e-mail-outro line-jump">{% trans %}Greetings{% endtrans %},</span>
                <span class="e-mail-signature line-jump">{% trans %}the Radiopharma24 team{% endtrans %}</span>
    {% endautoescape %}
    </div>
    {#{% include 'email/password_resetting.html.twig' %}#}
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}