{% extends 'base-email.html.twig' %}

{% block subject %}{% trans %}Order Confirmation{% endtrans %}{% endblock %}

{% block body_html %}
    <div class="email-wrapper">
    {% autoescape false %}
        <div class="e-mail-logo-stripe">
            <div class="e-mail-logo">
                <img src="http://dev.radiopharma24.de/images/R24-white-logo.png">
            </div>
        </div>

        <span class="e-mail-subject line-initial">{% trans %}Order Confirmation{% endtrans %}</span>

        <span class="e-mail-title line-jump">{% trans %}Hello {% endtrans %} {{ name }} :</span>

        <span class="e-mail-intro line-jump">{% trans %}This is a confirmation email for the following Items you have ordered recently{% endtrans %}:</span>

        <span class="e-order-greeting">{% trans %}Order Number{% endtrans %}: {{ data.relatedOrder.id }}</span>
        <span class="e-mail-product">{% trans %}Product Name{% endtrans %}: {{ data.relatedProductCategory.name }}</span>
        <span class="e-mail-amount">{% trans %}Amount Ordered{% endtrans %}: {{ data.orderedAmount }}</span>

        <span class="e-mail-outro line-jump">{% trans %}Greetings{% endtrans %},</span>

        <span class="e-mail-signature line-jump">{% trans %}the Radiopharma24 team{% endtrans %}</span>
    {% endautoescape %}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}

